<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPEARANCE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>ml.festival.lockwatch2</string>
			<key>key</key>
			<string>backgroundType</string>
			<key>label</key>
			<string>BACKGROUND_TYPE</string>
			<key>validTitles</key>
			<array>
				<string>BACKGROUND_TYPE_OFF</string>
				<string>BACKGROUND_TYPE_TRANSLUCENT</string>
				<string>BACKGROUND_TYPE_OPAQUE</string>
			</array>
			<key>validValues</key>
			<array>
				<real>0</real>
				<real>1</real>
				<real>2</real>
			</array>
			<key>PostNotification</key>
			<string>ml.festival.lockwatch2/WatchSelected</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.lockwatch2</string>
			<key>key</key>
			<string>batteryChargingViewHidden</string>
			<key>label</key>
			<string>BATTERY_CHARGING_VIEW_HIDDEN</string>
			<key>PostNotification</key>
			<string>ml.festival.lockwatch2/PreferencesChanged</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>POSITIONING</string>
			<key>detail</key>
			<string>LWPositioningListController</string>
			<key>isController</key>
			<true/>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<real>2</real>
			<key>defaults</key>
			<string>ml.festival.lockwatch2</string>
			<key>key</key>
			<string>complicationContent</string>
			<key>label</key>
			<string>COMPLICATION_CONTENT</string>
			<key>validTitles</key>
			<array>
				<string>COMPLICATION_CONTENT_NONE</string>
				<string>COMPLICATION_CONTENT_DEFAULT</string>
				<string>COMPLICATION_CONTENT_MIXED</string>
			</array>
			<key>validValues</key>
			<array>
				<real>0</real>
				<real>1</real>
				<real>2</real>
			</array>
			<key>PostNotification</key>
			<string>ml.festival.lockwatch2/WatchSelected</string>
		</dict>
	</array>
	<key>title</key>
	<string>ADVANCED_SETTINGS</string>
</dict>
</plist>
