<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bands</key>
	<dict>
		<key>compact</key>
		<array>
			<dict>
				<key>asset</key>
				<string>solo-deep-navy_compact</string>
				<key>label</key>
				<string>BAND_SOLO_DEEP_NAVY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>solo-ginger_compact</string>
				<key>label</key>
				<string>BAND_SOLO_GINGER</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>solo-cyprus-green_compact</string>
				<key>label</key>
				<string>BAND_SOLO_CYPRUS_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>solo-pink-citrus_compact</string>
				<key>label</key>
				<string>BAND_SOLO_PINK_CITRUS</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>solo-white_compact</string>
				<key>label</key>
				<string>BAND_SOLO_WHITE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>solo-black_compact</string>
				<key>label</key>
				<string>BAND_SOLO_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>solo-red_compact</string>
				<key>label</key>
				<string>BAND_SOLO_PRODUCT_RED</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>braided-solo-inverness-green_compact</string>
				<key>label</key>
				<string>BAND_BRAIDED_SOLO_INVERNESS_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>braided-solo-charcoal_compact</string>
				<key>label</key>
				<string>BAND_BRAIDED_SOLO_CHARCOAL</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>braided-solo-pink-punch_compact</string>
				<key>label</key>
				<string>BAND_BRAIDED_SOLO_PINK_PUNCH</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>braided-solo-atlantic-blue_compact</string>
				<key>label</key>
				<string>BAND_BRAIDED_SOLO_ATLANTIC_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>braided-solo-red_compact</string>
				<key>label</key>
				<string>BAND_BRAIDED_SOLO_PRODUCT_RED</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-seafoam_compact</string>
				<key>label</key>
				<string>BAND_SPORT_SEAFOAM</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-vitamin-c_compact</string>
				<key>label</key>
				<string>BAND_SPORT_VITAMIN_C</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-linen-blue_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LINEN_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-coastal-gray_compact</string>
				<key>label</key>
				<string>BAND_SPORT_COASTAL_GRAY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-deep-navy_compact</string>
				<key>label</key>
				<string>BAND_SPORT_DEEP_NAVY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-ginger_compact</string>
				<key>label</key>
				<string>BAND_SPORT_GINGER</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-cyprus-green_compact</string>
				<key>label</key>
				<string>BAND_SPORT_CYPRUS_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-pink-citrus_compact</string>
				<key>label</key>
				<string>BAND_SPORT_PINK_CITRUS</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-pride_compact</string>
				<key>label</key>
				<string>BAND_SPORT_PRIDE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-cactus_compact</string>
				<key>label</key>
				<string>BAND_SPORT_CACTUS</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-grapefruit_compact</string>
				<key>label</key>
				<string>BAND_SPORT_GRAPEFRUIT</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-surf-blue_compact</string>
				<key>label</key>
				<string>BAND_SPORT_SURF_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-beryl_compact</string>
				<key>label</key>
				<string>BAND_SPORT_BERYL</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-khaki_compact</string>
				<key>label</key>
				<string>BAND_SPORT_KHAKI</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-lemon-cream_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LEMON_CREAM</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-clementine_compact</string>
				<key>label</key>
				<string>BAND_SPORT_CLEMENTINE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-pine-green_compact</string>
				<key>label</key>
				<string>BAND_SPORT_PINE_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-alaskan-blue_compact</string>
				<key>label</key>
				<string>BAND_SPORT_ALASKAN_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-stone_compact</string>
				<key>label</key>
				<string>BAND_SPORT_STONE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-pink-sand_compact</string>
				<key>label</key>
				<string>BAND_SPORT_PINK_SAND</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-white_compact</string>
				<key>label</key>
				<string>BAND_SPORT_WHITE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-black_compact</string>
				<key>label</key>
				<string>BAND_SPORT_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-red_compact</string>
				<key>label</key>
				<string>BAND_SPORT_PRODUCT_RED</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-vitamin-c_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_VITAMIN_C</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-sunshine_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_SUNSHINE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-surf-blue_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_SURF_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-neon-lime_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_NEON_LIME</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-neon-pink_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_NEON_PINK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-pomegranate_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_POMEGRANATE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-khaki_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_KHAKI</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-alaskan-blue_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_ALASKAN_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-anchor-gray_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_ANCHOR_GRAY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-camel_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_CAMEL</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-midnight-blue_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_MIDNIGHT_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-plum_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_PLUM</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-inverness-green_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_INVERNESS_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-deep-navy_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_DEEP_NAVY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-kumquat_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_KUMQUAT</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-charcoal_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_CHARCOAL</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-cream_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_CREAM</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-red_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_PRODUCT_RED</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>buckle-raspberry_compact</string>
				<key>label</key>
				<string>BAND_BUCKLE_RASPBERRY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>buckle-deep-sea-blue_compact</string>
				<key>label</key>
				<string>BAND_BUCKLE_DEEP_SEA_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>buckle-aubergine_compact</string>
				<key>label</key>
				<string>BAND_BUCKLE_AUBERGINE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>buckle-saddle-brown_compact</string>
				<key>label</key>
				<string>BAND_BUCKLE_SADDLE_BROWN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>buckle-pink-citrus_compact</string>
				<key>label</key>
				<string>BAND_BUCKLE_PINK_CITRUS</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>buckle-garnet_compact</string>
				<key>label</key>
				<string>BAND_BUCKLE_GARNET</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>buckle-scarlet_compact</string>
				<key>label</key>
				<string>BAND_BUCKLE_SCARLET</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>buckle-black_compact</string>
				<key>label</key>
				<string>BAND_BUCKLE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-link-baltic-blue_compact</string>
				<key>label</key>
				<string>BAND_LEATHER_LINK_BALTIC_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-link-poppy_compact</string>
				<key>label</key>
				<string>BAND_LEATHER_LINK_POPPY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-link-saddle-brown_compact</string>
				<key>label</key>
				<string>BAND_LEATHER_LINK_SADDLE_BROWN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-link-black_compact</string>
				<key>label</key>
				<string>BAND_LEATHER_LINK_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>milanese_compact</string>
				<key>label</key>
				<string>BAND_MILANESE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>milanese-yellow-gold_compact</string>
				<key>label</key>
				<string>BAND_MILANESE_YELLOW_GOLD</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>milanese-graphite_compact</string>
				<key>label</key>
				<string>BAND_MILANESE_GRAPHITE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>milanese-space-black_compact</string>
				<key>label</key>
				<string>BAND_MILANESE_SPACE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>bracelet_compact</string>
				<key>label</key>
				<string>BAND_BRACELET</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>bracelet-space-black_compact</string>
				<key>label</key>
				<string>BAND_BRACELET_SPACE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-pride_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_PRIDE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-black-lime-blast_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_BLACK_LIME_BLAST</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-turquoise-green_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_TURQUOISE_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-desert-sand-black_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_DESERT_SAND_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-black-pink-blast_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_BLACK_PINK_BLAST</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-royal-pulse-black_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_ROYAL_PULSE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-spruce-green_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_SPRUCE_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-black-mango_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_BLACK_MANGO</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-obsidian-black_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_OBSIDIAN_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-platinum-black_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_PLATINUM_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-anthracite-black_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_ANTHRACITE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-indigo-lime_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_INDIGO_LIME</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-crimson-green_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_CRIMSON_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-desert-sand-volt_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_DESERT_SAND_VOLT</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-pink-blast-berry_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_PINK_BLAST_BERRY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-royal-pulse-lava_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_ROYAL_PULSE_LAVA</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-spruce-green_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_SPRUCE_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-purple_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_PURPLE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-obsidian_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_OBSIDIAN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-summit-white_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_SUMMIT_WHITE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-black_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-noir-blanc-gold_compact</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_NOIR_BLANC_GOLD</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-orange_compact</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_ORANGE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-jaune-ambre_compact</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_JAUNE_AMBRE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-navy_compact</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_NAVY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-rouge-piment_compact</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_ROUGE_PIMENT</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-anemone_compact</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_ANEMONE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-noir_compact</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_NOIR</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-brique-beton_compact</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_BRIQUE_BETON</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-fauve-barenia_compact</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_FAUVE_BARENIA</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-double-allover-noir_compact</string>
				<key>label</key>
				<string>BAND_HERMES_DOUBLE_ALLOVER_NOIR</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-double-allover-blanc_compact</string>
				<key>label</key>
				<string>BAND_HERMES_DOUBLE_ALLOVER_BLANC</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-double-noir_compact</string>
				<key>label</key>
				<string>BAND_HERMES_DOUBLE_NOIR</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-double-brique-beton_compact</string>
				<key>label</key>
				<string>BAND_HERMES_DOUBLE_BRIQUE_BETON</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-double-encre-beton_compact</string>
				<key>label</key>
				<string>BAND_HERMES_DOUBLE_ENCRE_BETON</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-double-etain-beton_compact</string>
				<key>label</key>
				<string>BAND_HERMES_DOUBLE_ETAIN_BETON</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-double-fauve-attelage_compact</string>
				<key>label</key>
				<string>BAND_HERMES_DOUBLE_FAUVE_ATTELAGE</string>
			</dict>
		</array>
		<key>regular</key>
		<array>
			<dict>
				<key>asset</key>
				<string>solo-deep-navy_regular</string>
				<key>label</key>
				<string>BAND_SOLO_DEEP_NAVY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>solo-ginger_regular</string>
				<key>label</key>
				<string>BAND_SOLO_GINGER</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>solo-cyprus-green_regular</string>
				<key>label</key>
				<string>BAND_SOLO_CYPRUS_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>solo-pink-citrus_regular</string>
				<key>label</key>
				<string>BAND_SOLO_PINK_CITRUS</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>solo-white_regular</string>
				<key>label</key>
				<string>BAND_SOLO_WHITE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>solo-black_regular</string>
				<key>label</key>
				<string>BAND_SOLO_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>solo-red_regular</string>
				<key>label</key>
				<string>BAND_SOLO_PRODUCT_RED</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>braided-solo-inverness-green_regular</string>
				<key>label</key>
				<string>BAND_BRAIDED_SOLO_INVERNESS_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>braided-solo-charcoal_regular</string>
				<key>label</key>
				<string>BAND_BRAIDED_SOLO_CHARCOAL</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>braided-solo-pink-punch_regular</string>
				<key>label</key>
				<string>BAND_BRAIDED_SOLO_PINK_PUNCH</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>braided-solo-atlantic-blue_regular</string>
				<key>label</key>
				<string>BAND_BRAIDED_SOLO_ATLANTIC_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>braided-solo-red_regular</string>
				<key>label</key>
				<string>BAND_BRAIDED_SOLO_PRODUCT_RED</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-seafoam_regular</string>
				<key>label</key>
				<string>BAND_SPORT_SEAFOAM</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-vitamin-c_regular</string>
				<key>label</key>
				<string>BAND_SPORT_VITAMIN_C</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-linen-blue_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LINEN_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-coastal-gray_regular</string>
				<key>label</key>
				<string>BAND_SPORT_COASTAL_GRAY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-deep-navy_regular</string>
				<key>label</key>
				<string>BAND_SPORT_DEEP_NAVY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-ginger_regular</string>
				<key>label</key>
				<string>BAND_SPORT_GINGER</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-cyprus-green_regular</string>
				<key>label</key>
				<string>BAND_SPORT_CYPRUS_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-pink-citrus_regular</string>
				<key>label</key>
				<string>BAND_SPORT_PINK_CITRUS</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-pride_regular</string>
				<key>label</key>
				<string>BAND_SPORT_PRIDE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-cactus_regular</string>
				<key>label</key>
				<string>BAND_SPORT_CACTUS</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-grapefruit_regular</string>
				<key>label</key>
				<string>BAND_SPORT_GRAPEFRUIT</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-surf-blue_regular</string>
				<key>label</key>
				<string>BAND_SPORT_SURF_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-beryl_regular</string>
				<key>label</key>
				<string>BAND_SPORT_BERYL</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-khaki_regular</string>
				<key>label</key>
				<string>BAND_SPORT_KHAKI</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-lemon-cream_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LEMON_CREAM</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-clementine_regular</string>
				<key>label</key>
				<string>BAND_SPORT_CLEMENTINE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-pine-green_regular</string>
				<key>label</key>
				<string>BAND_SPORT_PINE_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-alaskan-blue_regular</string>
				<key>label</key>
				<string>BAND_SPORT_ALASKAN_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-stone_regular</string>
				<key>label</key>
				<string>BAND_SPORT_STONE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-pink-sand_regular</string>
				<key>label</key>
				<string>BAND_SPORT_PINK_SAND</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-white_regular</string>
				<key>label</key>
				<string>BAND_SPORT_WHITE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-black_regular</string>
				<key>label</key>
				<string>BAND_SPORT_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-red_regular</string>
				<key>label</key>
				<string>BAND_SPORT_PRODUCT_RED</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-vitamin-c_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_VITAMIN_C</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-sunshine_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_SUNSHINE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-surf-blue_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_SURF_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-neon-lime_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_NEON_LIME</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-neon-pink_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_NEON_PINK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-pomegranate_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_POMEGRANATE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-khaki_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_KHAKI</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-alaskan-blue_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_ALASKAN_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-anchor-gray_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_ANCHOR_GRAY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-camel_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_CAMEL</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-midnight-blue_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_MIDNIGHT_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-plum_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_PLUM</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-inverness-green_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_INVERNESS_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-deep-navy_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_DEEP_NAVY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-kumquat_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_KUMQUAT</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-charcoal_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_CHARCOAL</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-cream_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_CREAM</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-red_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_PRODUCT_RED</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-link-baltic-blue_regular</string>
				<key>label</key>
				<string>BAND_LEATHER_LINK_BALTIC_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-link-poppy_regular</string>
				<key>label</key>
				<string>BAND_LEATHER_LINK_POPPY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-link-saddle-brown_regular</string>
				<key>label</key>
				<string>BAND_LEATHER_LINK_SADDLE_BROWN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-link-black_regular</string>
				<key>label</key>
				<string>BAND_LEATHER_LINK_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-diver-blue_regular</string>
				<key>label</key>
				<string>BAND_LEATHER_DIVER_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-peacock_regular</string>
				<key>label</key>
				<string>BAND_LEATHER_PEACOCK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-meyer-lemon_regular</string>
				<key>label</key>
				<string>BAND_LEATHER_MEYER_LEMON</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-saddle-brown_regular</string>
				<key>label</key>
				<string>BAND_LEATHER_SADDLE_BROWN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-black_regular</string>
				<key>label</key>
				<string>BAND_LEATHER_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>milanese_regular</string>
				<key>label</key>
				<string>BAND_MILANESE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>milanese-yellow-gold_regular</string>
				<key>label</key>
				<string>BAND_MILANESE_YELLOW_GOLD</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>milanese-graphite_regular</string>
				<key>label</key>
				<string>BAND_MILANESE_GRAPHITE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>milanese-space-black_regular</string>
				<key>label</key>
				<string>BAND_MILANESE_SPACE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>bracelet_regular</string>
				<key>label</key>
				<string>BAND_BRACELET</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>bracelet-space-black_regular</string>
				<key>label</key>
				<string>BAND_BRACELET_SPACE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-pride_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_PRIDE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-black-lime-blast_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_BLACK_LIME_BLAST</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-turquoise-green_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_TURQUOISE_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-desert-sand-black_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_DESERT_SAND_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-black-pink-blast_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_BLACK_PINK_BLAST</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-royal-pulse-black_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_ROYAL_PULSE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-spruce-green_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_SPRUCE_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-black-mango_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_BLACK_MANGO</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-obsidian-black_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_OBSIDIAN_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-platinum-black_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_PLATINUM_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-anthracite-black_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_ANTHRACITE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-indigo-lime_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_INDIGO_LIME</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-crimson-green_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_CRIMSON_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-desert-sand-volt_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_DESERT_SAND_VOLT</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-pink-blast-berry_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_PINK_BLAST_BERRY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-royal-pulse-lava_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_ROYAL_PULSE_LAVA</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-spruce-green_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_SPRUCE_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-purple_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_PURPLE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-obsidian_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_OBSIDIAN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-summit-white_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_SUMMIT_WHITE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-black_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-bambou_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_BAMBOU</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-navy_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_NAVY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-rouge-piment_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_ROUGE_PIMENT</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-orange_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_ORANGE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-noir_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_NOIR</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-encre-beton_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_ENCRE_BETON</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-etain-beton_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_ETAIN_BETON</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-feu-epsom_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_FEU_EPSOM</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-fauve-barenia_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_FAUVE_BARENIA</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-noir-buckle_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_NOIR_BUCKLE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-ebene-barenia-buckle_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_EBENE_BARENIA_BUCKLE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-fauve-barenia-buckle_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_FAUVE_BARENIA_BUCKLE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-fauve-attelage_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_FAUVE_ATTELAGE</string>
			</dict>
		</array>
	</dict>
	<key>frames</key>
	<dict>
		<key>394h</key>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>asset</key>
					<string>case-aluminum-spacegray_394h</string>
					<key>label</key>
					<string>CASE_ALUMINUM_SPACEGRAY</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-aluminum-silver_394h</string>
					<key>label</key>
					<string>CASE_ALUMINUM_SILVER</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-aluminum-gold_394h</string>
					<key>label</key>
					<string>CASE_ALUMINUM_GOLD</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-aluminum-red_394h</string>
					<key>label</key>
					<string>CASE_ALUMINUM_PRODUCT_RED</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-aluminum-blue_394h</string>
					<key>label</key>
					<string>CASE_ALUMINUM_BLUE</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-stainless-graphite_394h</string>
					<key>label</key>
					<string>CASE_STAINLESS_GRAPHITE</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-stainless-silver_394h</string>
					<key>label</key>
					<string>CASE_STAINLESS_SILVER</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-stainless-gold-series5_394h</string>
					<key>label</key>
					<string>CASE_STAINLESS_GOLD_SERIES5</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-stainless-gold-series6_394h</string>
					<key>label</key>
					<string>CASE_STAINLESS_GOLD_SERIES6</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-stainless-black_394h</string>
					<key>label</key>
					<string>CASE_STAINLESS_SPACE_BLACK</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-titanium-black_394h</string>
					<key>label</key>
					<string>CASE_TITANIUM_SPACE_BLACK</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-titanium_394h</string>
					<key>label</key>
					<string>CASE_TITANIUM</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-ceramic_394h</string>
					<key>label</key>
					<string>CASE_CERAMIC</string>
				</dict>
			</array>
			<key>bands</key>
			<string>compact</string>
			<key>prefix</key>
			<string>40MM</string>
		</dict>
		<key>448h</key>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>asset</key>
					<string>case-aluminum-spacegray_448h</string>
					<key>label</key>
					<string>CASE_ALUMINUM_SPACEGRAY</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-aluminum-silver_448h</string>
					<key>label</key>
					<string>CASE_ALUMINUM_SILVER</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-aluminum-gold_448h</string>
					<key>label</key>
					<string>CASE_ALUMINUM_GOLD</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-aluminum-blue_448h</string>
					<key>label</key>
					<string>CASE_ALUMINUM_BLUE</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-aluminum-red_448h</string>
					<key>label</key>
					<string>CASE_ALUMINUM_PRODUCT_RED</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-stainless-graphite_448h</string>
					<key>label</key>
					<string>CASE_STAINLESS_GRAPHITE</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-stainless-silver_448h</string>
					<key>label</key>
					<string>CASE_STAINLESS_SILVER</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-stainless-gold-series5_448h</string>
					<key>label</key>
					<string>CASE_STAINLESS_GOLD_SERIES5</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-stainless-gold-series6_448h</string>
					<key>label</key>
					<string>CASE_STAINLESS_GOLD_SERIES6</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-stainless-black_448h</string>
					<key>label</key>
					<string>CASE_STAINLESS_SPACE_BLACK</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-titanium-black_448h</string>
					<key>label</key>
					<string>CASE_TITANIUM_SPACE_BLACK</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-titanium_448h</string>
					<key>label</key>
					<string>CASE_TITANIUM</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-ceramic_448h</string>
					<key>label</key>
					<string>CASE_CERAMIC</string>
				</dict>
			</array>
			<key>bands</key>
			<string>regular</string>
			<key>prefix</key>
			<string>44MM</string>
		</dict>
	</dict>
</dict>
</plist>
