<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bands</key>
	<dict>
		<key>compact</key>
		<array>
			<dict>
				<key>asset</key>
				<string>sport-seafoam_compact</string>
				<key>label</key>
				<string>BAND_SPORT_SEAFOAM</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-vitamin-c_compact</string>
				<key>label</key>
				<string>BAND_SPORT_VITAMIN_C</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-linen-blue_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LINEN_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-coastal-gray_compact</string>
				<key>label</key>
				<string>BAND_SPORT_COASTAL_GRAY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-pride_compact</string>
				<key>label</key>
				<string>BAND_SPORT_PRIDE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-cactus_compact</string>
				<key>label</key>
				<string>BAND_SPORT_CACTUS</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-grapefruit_compact</string>
				<key>label</key>
				<string>BAND_SPORT_GRAPEFRUIT</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-surf-blue_compact</string>
				<key>label</key>
				<string>BAND_SPORT_SURF_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-beryl_compact</string>
				<key>label</key>
				<string>BAND_SPORT_BERYL</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-khaki_compact</string>
				<key>label</key>
				<string>BAND_SPORT_KHAKI</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-lemon-cream_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LEMON_CREAM</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-clementine_compact</string>
				<key>label</key>
				<string>BAND_SPORT_CLEMENTINE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-pine-green_compact</string>
				<key>label</key>
				<string>BAND_SPORT_PINE_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-alaskan-blue_compact</string>
				<key>label</key>
				<string>BAND_SPORT_ALASKAN_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-stone_compact</string>
				<key>label</key>
				<string>BAND_SPORT_STONE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-pink-sand_compact</string>
				<key>label</key>
				<string>BAND_SPORT_PINK_SAND</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-white_compact</string>
				<key>label</key>
				<string>BAND_SPORT_WHITE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-black_compact</string>
				<key>label</key>
				<string>BAND_SPORT_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-red_compact</string>
				<key>label</key>
				<string>BAND_SPORT_PRODUCT_RED</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-vitamin-c_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_VITAMIN_C</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-sunshine_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_SUNSHINE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-surf-blue_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_SURF_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-neon-lime_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_NEON_LIME</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-neon-pink_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_NEON_PINK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-pomegranate_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_POMEGRANATE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-khaki_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_KHAKI</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-alaskan-blue_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_ALASKAN_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-anchor-gray_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_ANCHOR_GRAY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-camel_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_CAMEL</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-midnight-blue_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_MIDNIGHT_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-red_compact</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_PRODUCT_RED</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>buckle-raspberry_compact</string>
				<key>label</key>
				<string>BAND_BUCKLE_RASPBERRY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>buckle-deep-sea-blue_compact</string>
				<key>label</key>
				<string>BAND_BUCKLE_DEEP_SEA_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>buckle-aubergine_compact</string>
				<key>label</key>
				<string>BAND_BUCKLE_AUBERGINE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>buckle-saddle-brown_compact</string>
				<key>label</key>
				<string>BAND_BUCKLE_SADDLE_BROWN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>buckle-black_compact</string>
				<key>label</key>
				<string>BAND_BUCKLE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>milanese_compact</string>
				<key>label</key>
				<string>BAND_MILANESE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>milanese-gold_compact</string>
				<key>label</key>
				<string>BAND_MILANESE_GOLD</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>milanese-space-black_compact</string>
				<key>label</key>
				<string>BAND_MILANESE_SPACE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>bracelet_compact</string>
				<key>label</key>
				<string>BAND_BRACELET</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>bracelet-space-black_compact</string>
				<key>label</key>
				<string>BAND_BRACELET_SPACE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-pride_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_PRIDE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-black-lime-blast_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_BLACK_LIME_BLAST</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-turquoise-green_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_TURQUOISE_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-desert-sand-black_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_DESERT_SAND_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-royal-pulse-black_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_ROYAL_PULSE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-black-pink-blast_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_BLACK_PINK_BLAST</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-platinum-black_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_PLATINUM_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-anthracite-black_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_ANTHRACITE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-indigo-lime_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_INDIGO_LIME</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-crimson-green_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_CRIMSON_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-desert-sand-volt_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_DESERT_SAND_VOLT</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-pink-blast-berry_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_PINK_BLAST_BERRY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-royal-pulse-lava_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_ROYAL_PULSE_LAVA</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-summit-white_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_SUMMIT_WHITE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-black_compact</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-noir-blanc-gold_compact</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_NOIR_BLANC_GOLD</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-orange_compact</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_ORANGE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-noir_compact</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_NOIR</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-brique-beton_compact</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_BRIQUE_BETON</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-fauve-barenia_compact</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_FAUVE_BARENIA</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-double-allover-noir_compact</string>
				<key>label</key>
				<string>BAND_HERMES_DOUBLE_ALLOVER_NOIR</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-double-allover-blanc_compact</string>
				<key>label</key>
				<string>BAND_HERMES_DOUBLE_ALLOVER_BLANC</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-double-noir_compact</string>
				<key>label</key>
				<string>BAND_HERMES_DOUBLE_NOIR</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-double-brique-beton_compact</string>
				<key>label</key>
				<string>BAND_HERMES_DOUBLE_BRIQUE_BETON</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-double-encre-beton_compact</string>
				<key>label</key>
				<string>BAND_HERMES_DOUBLE_ENCRE_BETON</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-double-etain-beton_compact</string>
				<key>label</key>
				<string>BAND_HERMES_DOUBLE_ETAIN_BETON</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-double-fauve-barenia_compact</string>
				<key>label</key>
				<string>BAND_HERMES_DOUBLE_FAUVE_BARENIA</string>
			</dict>
		</array>
		<key>regular</key>
		<array>
			<dict>
				<key>asset</key>
				<string>sport-seafoam_regular</string>
				<key>label</key>
				<string>BAND_SPORT_SEAFOAM</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-vitamin-c_regular</string>
				<key>label</key>
				<string>BAND_SPORT_VITAMIN_C</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-linen-blue_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LINEN_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-coastal-gray_regular</string>
				<key>label</key>
				<string>BAND_SPORT_COASTAL_GRAY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-pride_regular</string>
				<key>label</key>
				<string>BAND_SPORT_PRIDE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-cactus_regular</string>
				<key>label</key>
				<string>BAND_SPORT_CACTUS</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-grapefruit_regular</string>
				<key>label</key>
				<string>BAND_SPORT_GRAPEFRUIT</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-surf-blue_regular</string>
				<key>label</key>
				<string>BAND_SPORT_SURF_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-beryl_regular</string>
				<key>label</key>
				<string>BAND_SPORT_BERYL</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-khaki_regular</string>
				<key>label</key>
				<string>BAND_SPORT_KHAKI</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-lemon-cream_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LEMON_CREAM</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-clementine_regular</string>
				<key>label</key>
				<string>BAND_SPORT_CLEMENTINE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-pine-green_regular</string>
				<key>label</key>
				<string>BAND_SPORT_PINE_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-alaskan-blue_regular</string>
				<key>label</key>
				<string>BAND_SPORT_ALASKAN_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-stone_regular</string>
				<key>label</key>
				<string>BAND_SPORT_STONE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-pink-sand_regular</string>
				<key>label</key>
				<string>BAND_SPORT_PINK_SAND</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-white_regular</string>
				<key>label</key>
				<string>BAND_SPORT_WHITE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-black_regular</string>
				<key>label</key>
				<string>BAND_SPORT_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-red_regular</string>
				<key>label</key>
				<string>BAND_SPORT_PRODUCT_RED</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-vitamin-c_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_VITAMIN_C</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-sunshine_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_SUNSHINE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-surf-blue_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_SURF_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-neon-lime_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_NEON_LIME</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-neon-pink_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_NEON_PINK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-pomegranate_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_POMEGRANATE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-khaki_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_KHAKI</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-alaskan-blue_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_ALASKAN_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-anchor-gray_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_ANCHOR_GRAY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-camel_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_CAMEL</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-midnight-blue_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_MIDNIGHT_BLUE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>sport-loop-red_regular</string>
				<key>label</key>
				<string>BAND_SPORT_LOOP_PRODUCT_RED</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-peacock_regular</string>
				<key>label</key>
				<string>BAND_LEATHER_PEACOCK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-meyer-lemon_regular</string>
				<key>label</key>
				<string>BAND_LEATHER_MEYER_LEMON</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-saddle-brown_regular</string>
				<key>label</key>
				<string>BAND_LEATHER_SADDLE_BROWN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>leather-black_regular</string>
				<key>label</key>
				<string>BAND_LEATHER_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>milanese_regular</string>
				<key>label</key>
				<string>BAND_MILANESE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>milanese-gold_regular</string>
				<key>label</key>
				<string>BAND_MILANESE_GOLD</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>milanese-space-black_regular</string>
				<key>label</key>
				<string>BAND_MILANESE_SPACE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>bracelet_compact</string>
				<key>label</key>
				<string>BAND_BRACELET</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>bracelet-space-black_regular</string>
				<key>label</key>
				<string>BAND_BRACELET_SPACE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-pride_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_PRIDE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-black-lime-blast_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_BLACK_LIME_BLAST</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-turquoise-green_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_TURQUOISE_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-desert-sand-black_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_DESERT_SAND_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-royal-pulse-black_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_ROYAL_PULSE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-black-pink-blast_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_BLACK_PINK_BLAST</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-platinum-black_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_PLATINUM_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-anthracite-black_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_ANTHRACITE_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-indigo-lime_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_INDIGO_LIME</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-crimson-green_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_CRIMSON_GREEN</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-desert-sand-volt_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_DESERT_SAND_VOLT</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-pink-blast-berry_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_PINK_BLAST_BERRY</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-royal-pulse-lava_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_ROYAL_PULSE_LAVA</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-summit-white_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_SUMMIT_WHITE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>nike-sport-loop-black_regular</string>
				<key>label</key>
				<string>BAND_NIKE_SPORT_LOOP_BLACK</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-orange_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_ORANGE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-noir_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_NOIR</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-encre-beton_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_ENCRE_BETON</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-etain-beton_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_ETAIN_BETON</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-feu-epsom_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_EPSOM_FEU</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-fauve-barenia_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_FAUVE_BARENIA</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-ebene-barenia-buckle_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_EBENE_BARENIA_BUCKLE</string>
			</dict>
			<dict>
				<key>asset</key>
				<string>hermes-single-fauve-barenia-buckle_regular</string>
				<key>label</key>
				<string>BAND_HERMES_SINGLE_FAUVE_BARENIA_BUCKLE</string>
			</dict>
		</array>
	</dict>
	<key>frames</key>
	<dict>
		<key>394h</key>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>asset</key>
					<string>case-aluminum-spacegray_394h</string>
					<key>label</key>
					<string>CASE_ALUMINUM_SPACEGRAY</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-aluminum-silver_394h</string>
					<key>label</key>
					<string>CASE_ALUMINUM_SILVER</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-aluminum-gold_394h</string>
					<key>label</key>
					<string>CASE_ALUMINUM_GOLD</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-stainless-silver_394h</string>
					<key>label</key>
					<string>CASE_STAINLESS_SILVER</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-stainless-gold_394h</string>
					<key>label</key>
					<string>CASE_STAINLESS_GOLD</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-stainless-spacegray_394h</string>
					<key>label</key>
					<string>CASE_STAINLESS_SPACE_BLACK</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-titanium-black_394h</string>
					<key>label</key>
					<string>CASE_TITANIUM_SPACE_BLACK</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-titanium_394h</string>
					<key>label</key>
					<string>CASE_TITANIUM</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-ceramic_394h</string>
					<key>label</key>
					<string>CASE_CERAMIC</string>
				</dict>
			</array>
			<key>bands</key>
			<string>compact</string>
			<key>prefix</key>
			<string>40MM</string>
		</dict>
		<key>448h</key>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>asset</key>
					<string>case-aluminum-spacegray_448h</string>
					<key>label</key>
					<string>CASE_ALUMINUM_SPACEGRAY</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-aluminum-silver_448h</string>
					<key>label</key>
					<string>CASE_ALUMINUM_SILVER</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-aluminum-gold_448h</string>
					<key>label</key>
					<string>CASE_ALUMINUM_GOLD</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-stainless-silver_448h</string>
					<key>label</key>
					<string>CASE_STAINLESS_SILVER</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-stainless-gold_448h</string>
					<key>label</key>
					<string>CASE_STAINLESS_GOLD</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-stainless-spacegray_448h</string>
					<key>label</key>
					<string>CASE_STAINLESS_SPACE_BLACK</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-titanium-black_448h</string>
					<key>label</key>
					<string>CASE_TITANIUM_SPACE_BLACK</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-titanium_448h</string>
					<key>label</key>
					<string>CASE_TITANIUM</string>
				</dict>
				<dict>
					<key>asset</key>
					<string>case-ceramic_448h</string>
					<key>label</key>
					<string>CASE_CERAMIC</string>
				</dict>
			</array>
			<key>bands</key>
			<string>regular</string>
			<key>prefix</key>
			<string>44MM</string>
		</dict>
	</dict>
</dict>
</plist>
