<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>cellClass</key>
			<string>PFHeaderCell</string>
			<key>background</key>
			<string>#FF9500</string>
			<key>image</key>
			<string>/Library/PreferenceBundles/LockWatch2Preferences.bundle/header.png</string>
			<key>height</key>
			<integer>158</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GENERAL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.lockwatch2</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>GENERAL_ENABLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DEVICE_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.lockwatch2</string>
			<key>key</key>
			<string>isEmulatingDevice</string>
			<key>label</key>
			<string>USE_EMULATED_DEVICE</string>
			<key>PostNotification</key>
			<string>ml.festival.lockwatch2/WatchSelected</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<string>Watch5,4</string>
			<key>defaults</key>
			<string>ml.festival.lockwatch2</string>
			<key>key</key>
			<string>emulatedDeviceType</string>
			<key>label</key>
			<string>EMULATED_DEVICE</string>
			<key>validTitles</key>
			<array>
				<string>Series 3 (38mm)</string>
				<string>Series 3 (42mm)</string>
				<string>Series 5 (40mm)</string>
				<string>Series 5 (44mm)</string>
			</array>
			<key>validValues</key>
			<array>
				<string>Watch3,3</string>
				<string>Watch3,4</string>
				<string>Watch5,3</string>
				<string>Watch5,4</string>
			</array>
			<key>staticTextMessage</key>
			<string>RESET_LIBRARY_FOOTER</string>
			<key>PostNotification</key>
			<string>ml.festival.lockwatch2/WatchSelected</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CASE_AND_BAND</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ml.festival.lockwatch2</string>
			<key>key</key>
			<string>showCase</string>
			<key>label</key>
			<string>SHOW_CASE</string>
			<key>PostNotification</key>
			<string>ml.festival.lockwatch2/WatchSelected</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ml.festival.lockwatch2</string>
			<key>key</key>
			<string>showBand</string>
			<key>label</key>
			<string>SHOW_BAND</string>
			<key>PostNotification</key>
			<string>ml.festival.lockwatch2/WatchFrameSelected</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>CONFIGURE_CASE_AND_BAND</string>
			<key>detail</key>
			<string>LWBandSelectionViewController</string>
			<key>isController</key>
			<true/>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>ADVANCED_SETTINGS</string>
			<key>detail</key>
			<string>LWAdvancedListController</string>
			<key>isController</key>
			<true/>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showWhatsNew</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>BUTTON_WHATS_NEW</string>
		</dict>
		<dict>
			<key>action</key>
			<string>makeDonation</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>BUTTON_MAKE_DONATION</string>
		</dict>
		<dict>
			<key>action</key>
			<string>reportIssue</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>BUTTON_REPORT_ISSUE</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>RESET_LIBRARY_FOOTER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESTART_SPRINGBOARD_TITLE</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetLibrary</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESET_LIBRARY_TITLE</string>
		</dict>
	</array>
	<key>title</key>
	<string>LockWatch 2</string>
</dict>
</plist>
